/* Header */

/* top */

.header-top {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header-nav-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo {
  min-width: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 37px;
}

.header-nav-list {
  width: 516px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list.active {
  transform: translate(0);
}

.header-nav-link,
.header-nav-mail-link {
  color: var(--c-primary);
}

.header-nav-mail-link {
  display: flex;
  gap: 10px;
}

.header-nav-socials,
.header-nav-lang {
  display: flex;
  gap: 20px;
}

.header-nav-social-link,
.header-nav-burger {
  display: flex;
}

.header-nav-socials-icon {
  min-width: 24px;
}

.header-nav-burger {
  font-size: 34px;
  display: none;
  cursor: pointer;
  transition: ease-in-out .3s;
}

@media (max-width: 1200px) {

  .header-nav-panel,
  .header-nav {
    justify-content: center;
  }
}

@media (max-width: 576px) {

  .header-top {
    margin-top: 20px;
  }

  .header-nav-panel {
    flex-direction: column;
    gap: 30px;
  }

  .header-logo {
    order: 1;
  }

  .mail-hidden {
    display: none;
  }

  .header-nav-list {
    max-width: 320px;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    position: absolute;
    top: 120px;
    left: 0;
    transform: translateX(-100%);
    padding: 10px;
    transition: ease-in-out .5s;
    background-color: var(--c-blue);
  }

  .header-nav-socials {
    order: -1;
  }

  .header-nav-burger {
    display: block;
  }
}

@media (max-width: 344px) {
  .header-nav {
    flex-wrap: nowrap;
  }
}

/* banner */

.header-banner {
  margin: 0 auto;
}

.header-banner-title {
  font-size: var(--fs-large);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.header-banner-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 90px;
  background-image: url(../images/bgd.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner-info {
  margin-bottom: 154px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(7, 7, 7, 55%);
}

.header-banner-text {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.header-banner-btn {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 16px 18px;
  background-color: var(--c-blue);
  color: var(--c-primary);
  font-size: var(--fs-primary);
  font-weight: var(--fw-medium);
}

@media (max-width: 576px) {
  .header-banner-title {
    font-size: var(--fs-middle);
  }

  .header-banner-wrapper {
    padding: 0;
    background: none;
  }

  .header-banner-text {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
  }

  .header-banner-wrapper-top {
    padding-top: 170px;
    margin-bottom: 30px;
    background-image: url(../images/bgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    order: 2;
  }

  .header-banner-info {
    order: 1;
    background: none;
    margin-bottom: 20px;
    padding: 0;
  }

  .header-banner-btn {
    order: 4;
  }

  .header-banner-wrapper-bottom {
    order: 3;
  }
}

/* Main */

/* about */

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-text-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.about-characters {
  display: flex;
  background-image: url(../images/about_bgd.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.about-characters-list {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-characters-list-item {
  display: flex;
  text-align: center;
}

.about-characters-list-item-text::before {
  content: url(../images/ok.svg);
  padding-right: 15px;
}

.about-characters-list-item:nth-of-type(2) {
  justify-content: center;
}

.about-characters-list-item:nth-of-type(3) {
  justify-content: flex-end;
}

