/* Header */

/* top */

.header-top {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header-nav-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo {
  min-width: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 37px;
}

.header-nav-list {
  width: 516px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list.active {
  transform: translate(0);
}

.header-nav-link,
.header-nav-mail-link {
  color: var(--c-primary);
}

.header-nav-mail-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-nav-socials,
.header-nav-lang {
  display: flex;
  gap: 20px;
}

.header-nav-social-link,
.header-nav-burger {
  display: flex;
}

.header-nav-socials-icon {
  min-width: 24px;
}

.header-nav-burger {
  font-size: 34px;
  display: none;
  cursor: pointer;
  transition: ease-in-out .3s;
}

@media (max-width: 1200px) {

  .header-nav-panel,
  .header-nav {
    justify-content: center;
  }
}

@media (max-width: 576px) {

  .header-top {
    margin-top: 20px;
  }

  .header-nav-panel {
    flex-direction: column;
    gap: 30px;
  }

  .header-logo {
    order: 1;
  }

  .mail-hidden {
    display: none;
  }

  .header-nav-list {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    position: absolute;
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    padding: 10px;
    transition: ease-in-out .5s;
    background-color: var(--c-blue);
  }

  .header-nav-socials {
    order: -1;
  }

  .header-nav-burger {
    display: block;
  }
}

@media (max-width: 344px) {
  .header-nav {
    flex-wrap: nowrap;
  }
}

/* banner */

.header-banner {
  margin: 0 auto;
}

.header-banner-title {
  font-size: var(--fs-large);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.header-banner-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 90px;
  background-image: url(../images/bgd.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner-info {
  margin-bottom: 154px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(7, 7, 7, 55%);
}

.header-banner-text {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.header-banner-btn {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 16px 18px;
  background-color: var(--c-blue);
  color: var(--c-primary);
  font-size: var(--fs-primary);
  font-weight: var(--fw-medium);
}

@media (max-width: 768px) {
  .header-banner-title {
    font-size: var(--fs-secondary);
  }

  .header-banner-text {
    font-size: var(--fs-middle);
    font-weight: var(--fw-regular);
  }
}

@media (max-width: 576px) {
  .header-banner-wrapper {
    padding: 0;
    background: none;
  }

  .header-banner-title {
    font-size: var(--fs-middle);
  }

  .header-banner-text {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
  }

  .header-banner-wrapper-top {
    padding-top: 170px;
    margin-bottom: 30px;
    background-image: url(../images/bgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    order: 2;
  }

  .header-banner-info {
    order: 1;
    background: none;
    margin-bottom: 20px;
    padding: 0;
  }

  .header-banner-btn {
    order: 4;
  }

  .header-banner-wrapper-bottom {
    order: 3;
  }
}

/* Main */

/* about */

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-text-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.about-characters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-characters-list {
  width: 62%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-characters-list-item {
  display: flex;
  text-align: center;
}

.about-characters-list-item-text::before {
  content: url(../images/ok.svg);
  padding-right: 15px;
}

.about-characters-list-item:nth-of-type(2) {
  justify-content: center;
}

.about-characters-list-item:nth-of-type(3) {
  justify-content: flex-end;
}

.about-characters-hidden-top {
  text-align: center;
  margin-bottom: 20px;
}

.text-hidden-hidden,
.about-characters-hidden-top {
  display: none;
}

.visible {
  display: inline;
}

.read-more,
.read-less {
  font-size: var(--fs-little);
  color: var(--c-primary);
}

.hidden {
  display: none;
}

.about-characters-hidden-bottom {
  display: none;
  font-size: var(--fs-small);
}

.about-characters-hidden-bottom-list-text {
  text-align: center;
  margin-bottom: 20px;
}

.about-characters-hidden-bottom-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 45px;
  list-style-type: disc;
}

@media (max-width: 1220px) {
  .about-characters {
    justify-content: center;
  }

  .about-characters-image {
    display: none;
  }

  .about-characters {
    background-image: url(../images/about_bgd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (max-width: 576px) {

  .about-characters-image {
    display: block;
    margin-bottom: 60px;
  }

  .about-characters {
    background: none;
  }

  .about-characters-list,
  .about-text {
    display: none;
  }

  .about-characters-hidden-top,
  .about-characters-hidden-bottom {
    display: block;
  }
}

/* cars */

.cars {
  padding: 60px 0 60px;
  background-color: var(--c-blue);
}

.cars-wrapper {
  display: flex;
  flex-direction: column;
}

.cars-text {
  font-size: var(--fs-secondary);
}

.cars-item-title {
  text-decoration: underline;
}

.title-top {
  margin-bottom: 20px;
}

.title-bottom {
  margin-top: 20px;
}

.cars-wrapper-row-top,
.cars-wrapper-row-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
}

.cars-wrapper-row-bottom {
  margin-top: -50px;
  justify-content: end;
}

.cars-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cars-item img {
  width: 440px;
  height: 300px;
}

.cars-text {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {

  .cars-wrapper-row-top,
  .cars-wrapper-row-bottom {
    justify-content: space-evenly;
    gap: 30px;
  }

  .cars-wrapper-row-bottom {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .title-bottom {
    order: -1;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .cars {
    padding: 0;
  }

  .cars-text,
  .cars-wrapper {
    display: none;
  }
}

/* cars hidden */

.cars-hidden {
  display: none;
}

.cars-slider {
  margin-bottom: 160px;
}

.carousel-indicators {
  bottom: -50px;
  gap: 15px;
}

.custom-carousel-btn {
  width: 32px !important;
  height: 12px !important;
  background-color: var(--c-black) !important;
  border: 1px solid var(--c-primary) !important;
  border-radius: 25px !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important;
}

.custom-carousel-btn.active {
  background-color: var(--c-blue) !important;
}

@media (max-width: 576px) {
  .cars-hidden {
    display: block;
  }

  .cars-slider {
    margin-bottom: 0;
  }
}

/* Services */

.services {
  padding: 80px 0 80px;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-wrapper-row-top,
.services-wrapper-row-bottom {
  display: flex;
}

.services-wrapper-row-top {
  justify-content: space-between;
}

.services-wrapper-row-bottom {
  justify-content: space-evenly;
}

.services-wrapper-row-top-item,
.services-wrapper-row-bottom-item {
  width: 285px;
  text-align: center;
  border: 1px solid var(--c-blue);
  padding: 30px 0 30px;
}

.services-wrapper-row-top-item-title,
.services-wrapper-row-bottom-item-title {
  font-size: var(--fs-primary);
  padding: 0 30px 30px 30px;
}

.services-wrapper-row-top-item-description,
.services-wrapper-row-bottom-item-description {
  font-size: var(--fs-small);
  padding: 30px 30px 0 30px;
}

@media (max-width: 992px) {

  .services-wrapper {
    align-items: center;
  }

  .services-wrapper-row-top,
  .services-wrapper-row-bottom {
    flex-direction: column;
    gap: 30px;
  }
}

/* advantages */

.advantages {
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1060px;
  margin: 0 auto;
}

.advantages-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 240px;
}

.advantages-numbers-item {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-sub-big);
  font-weight: var(--fw-semibold);
  background-color: var(--c-blue);
  border-radius: 50%;
}

.accordion {
  width: 100%;
}

.accordion-body {
  background-color: var(--c-blue);
}

.accordion-button {
  background-color: var(--c-black);
  color: var(--c-primary);
}

.accordion-button-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 40px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
  content: "";
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  transition: transform .2s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/chevron-down.svg);
  transform: rotate(-90deg);
}

.accordion-button:not(.collapsed) {
  color: var(--c-primary);
  background-color: var(--c-blue);
}

.accordion-button-text-title {
  font-size: var(--fs-primary);
}

.accordion-button-text {
  font-size: var(--fs-small);
}

@media (max-width: 768px) {
  .advantages-numbers {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {

  .accordion-button-text-wrapper {
    padding-left: 0;
  }

  .advantages-list {
    gap: 10px;
  }

  .advantages-numbers {
    justify-content: space-around;
  }

  .advantages-numbers-item {
    width: 30px;
    height: 30px;
    font-size: var(--fs-sub-big-middle);
  }

  .accordion-button-text-title {
    font-size: var(--fs-small);
  }

  .accordion-button-text {
    font-size: var(--fs-extra-small);
  }
}

/* about numbers */

.about-numbers-wrapper {
  background-color: var(--c-blue);
  padding: 65px 0 65px;
}

.about-numbers-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-numbers-item {
  width: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0 40px;
  border: 1px solid var(--c-primary);
}

.about-numbers-digit {
  font-size: var(--fs-big);
  margin-bottom: 20px;
}

.about-numbers-text {
  font-size: var(--fs-primary);
}

@media (max-width: 1200px) {
  .about-numbers-container {
    max-width: 790px;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .about-numbers-container {
    align-content: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 576px) {

  .about-numbers-container {
    flex-direction: unset;
  }
  .about-numbers-item {
    width: 150px;
    padding: 2px 0 2px;
  }

  .about-numbers-digit {
    font-size: 34px;
    margin-bottom: 10px;
  }

}