html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--f-primary);
  color: var(--c-primary);
  background-color: var(--c-black);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  max-width: 1440px;
}

img {
  width: 100%;
}

input,
select {
  width: 100%;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: var(--fs-secondary);
  font-weight: var(--fw-semibold);
  margin-bottom: 30px;
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}